/* #Imports
================================================== */
@import "flatui/reset.less";
@import "flatui/grid.less";
@import "flatui/color.less";
@import "flatui/mixin.less";
@import "flatui/form.less";
//@import "flatui/nav.less";
//@import "flatui/font.less";


/* #Import a font
================================================== */
//.font-face("Mohave", "fonts/Mohave.otf");

/* #Regular Code
================================================== */
body {
    h1 {
        font: 36px "Corbel";
		color: white;
        margin-top: 5px;
    }   
} 

