/* #Imports
================================================== */
@import "flatui/reset.less";
@import "flatui/grid.less";
@import "flatui/color.less";
@import "flatui/mixin.less";
@import "flatui/form.less";
//@import "flatui/nav.less";
//@import "flatui/font.less";


/* #Import a font
================================================== */
.font-face("NexaBold", "fonts/NexaBold.ttf.eot");

/* #Regular Code
================================================== */
body {
	margin: 10px auto;
	width: 960px;
	nav {
		.size(100%, 65px);
		border-bottom: 8px solid @green;
		img {
			float: left;
			margin-left: 10px;
			.size(206px, 50px);
		}
		ul {
			float: right;
			height: 100%;
			list-style-type: none;
			li {
				float: left;
				height: 100%;
				padding: 0 18px;
				&:last-child {
					padding-right: 0;
				}
				a {
					display: block;
					margin: 25px 0 0;
					text-decoration: none;
					color: #514f4f;
					font: 17px "Myriad Web Pro";
					.transition(all, 0.2s, linear);
					&.active {
						color: @green;
					}
					&:hover {
						color: @green;
					}
					img {
						margin: 9px 0 0 5px;
						float: right;
						.size(9px, 6px);
					}
				}
			}
		}
	}
	#cta {
		height: 337px;
		position: relative;
		border-bottom: 5px solid @lightgreen;
		img {
			float: left;
			width: 100%;
		}
		.overlay{
			position: absolute;
			top: 37px;
			float: left;
			margin-left: 10px;
			.size(463px, 193px);
			background-color: rgba(0,0,0,0.5);
			color: white;
			h1 {
				margin: 8px 0 0 3px;
				font: 36px "NexaBold";
			}
			p {
				margin: 5px 0 0 3px;
				font: 14px "Myriad Web Pro";
				line-height: 23px;
			}
		}
	}
	//What we do/ Our approach
	#general-info {
		div {
			h2 {
				font: 26px "NexaBold";
			}
			img {
				
			}
			p {
				font: 14px "Myriad Web Pro";
			}
		}
	}
	//News Feed
	#news-feed {
		border-left: 1px solid @lightgreen;
		border-right: 1px solid @lightgreen;
		border-bottom: 1px solid @lightgreen;
		#news-header {
			background-image: url("img/newsfeed-bg.png");
			.size(100%, 38px);
			h2 {
				float: left;
				color: white;
				font: 24px "NexaBold";
				margin: 10px 0 0 8px;
			}
			img {
				float: right;
				margin: 2px 6px 0 0;
			}
		}
		.news-item {
			margin: 5px auto;
			overflow: hidden;
			border-bottom: 3px solid @green;
			width: 286px;
			h3 {
				float: left;
				font: 16px "Myriad Web Pro";
				font-weight: bold;
			}
			h4 {
				float: right;
				font: 14px "Myriad Web Pro";
				font-style: italic;
				color: #cacaca;
			}
			p {
				float: left;
				padding-top: 6px;
				font: 13px "Myriad Web Pro";
				color: #999999;
			}
			button {
				float: right;
				margin: 4px 0;
				border-bottom: 3px solid darken(@darkgreen, 20%);
			}
		}
	}
	//Selectivity Confidence Speed
	#trait-container {
		margin-top: 45px;
		.trait {
			position: relative;
			.image-container {
				.accent {
					position: absolute;
					top: -4px;
					left: 3px;
				}
				.picture {
					padding: 0 37px;
				}
			}
			.trait-title {
				img {
					display: inline;
					margin: 0 3px -4px -29px;
					padding: 0;
				}
				h2 {
					width: 100%;
					text-align: center;
					font: 24px "Myriad Web Pro";
				}
			}
			p{
				float: left;
				border-top: 3px solid @green;
				margin-top: 5px;
				padding-top: 2px;
				font: 14px "Myriad Web Pro";
				line-height: 20px;
				color: #666666;
			}
		}
	}
} 











