@import "color.less";
@import "mixin.less";

/* #Input Fields
================================================== */
.text-input(@color: @gray) {
    border: 1px solid lighten(@color, 15%);
    .border-radius(4px);
    color: lighten(@color, 10%);
    font: 16px "Myriad Pro";
    line-height: 1.867;
    padding: 5px 12px 0;
    height: 32px;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    .transition(all, .5s, linear);
    &:focus {
        border: 1px solid lighten(@color, 25%);
        color: darken(@color, 10%);
    }
}

/* #Radio Buttons
================================================== */
.radio-button(@color: @blue) {
    label {
        float: left;
        text-align: right;
        min-width: 90px;
        margin: 3px 7px 3px 0;
    }
    input {
        margin-top: 3px;
        -webkit-appearance: none;
        cursor: pointer;
        float: left;
        padding: 1px;
        .size(22px, 22px);
        .border-radius(15px);
        border: 2px solid @color;
        background-color: lighten(@color, 10%);
        &:before {
            content: url("flatui/images/radio.png");   
            visibility: hidden;
            .transition(all, 0.2s);
            opacity: 0;
        }
        &:checked {
            &:before {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}


/* #Checkboxes
================================================== */
.checkbox(@color: @blue) {
    label {
        float: left;
        text-align: right;
        min-width: 90px;
        margin: 3px 7px 3px 0;
    }
    input {
        margin-top: 3px;
        -webkit-appearance: none;
        cursor: pointer;
        float: left;
        .border-radius(5px);
        .size(22px, 22px);
        padding: 2px;
        background-color: lighten(@color, 15%);
        border: 2px solid @color;
        &:before {
            content: url("flatui/images/checkmark.png");
            visibility: hidden;
            .transition(all, 0.2s);
            opacity: 0;
        }
        &:checked {
            &:before {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

/* #Number Inputs (currently testing)
================================================== */
.numInput(@color: @midnightblue) {
    input[type=number] {
        border: 2px solid @color;
        color: white;
        font-size: 16px;
        padding-left: 5px;
        background: lighten(@color, 15%);
        width: 75px;
        height: 30px;
    }   
    
    input[type=number]::-webkit-inner-spin-button { 
        -webkit-appearance: none;
        margin: 0;
        cursor:pointer;
        display:block;
        width:10px;
        position:relative;
    }

    input[type=number]::-webkit-inner-spin-button:before {
        content: url("flatui/images/upArrow.png");
        position:absolute;
        right: 0;
    }
    input[type=number]::-webkit-inner-spin-button:after {
        content: url("flatui/images/downArrow.png");
        position:absolute;
        right: 0;
    }

    input[type=number]::-webkit-inner-spin-button:before {
        top:10px;
    }

    input[type=number]::-webkit-inner-spin-button:after {
        top:-5px;
    }
}

/* #Buttons
================================================== */
.button(@color: @green) {
    cursor: pointer;
    border: 0;
    min-width: 90px;
    background-color: @color;
    color: lighten(@color, 60%);
    .transition(all, 0.3s);
    &:hover {
        background-color: lighten(@color, 10%);
    }
}
.medium-button(@color: @green) {
    .button(@color);
    padding: 9px;
    font-size: 17px;
    line-height: 1.471;
}

/* #On-The-Fly Styles
================================================== */

//Text Inputs
input.regular           {.text-input(@darkgray);    }
input.error             {.text-input(@red);         }
input.success           {.text-input(@green);       }

//Number Inputs
div.number_input        {.numInput();               }

//Buttons
button.success          {.medium-button(@green);    }
button.error            {.medium-button(@red);      }
button.attention        {.medium-button(@yellow);   }
button.caution          {.medium-button(@blue);}

//Radio Buttons
div.radio-button-blue   {.radio-button();           }
div.radio-button-red    {.radio-button(@red);       }
div.radio-button-green  {.radio-button(@green);     }

//Checkboxes
div.checkbox-blue       {.checkbox();               }
div.checkbox-red        {.checkbox(@red);           }
div.checkbox-green      {.checkbox(@green);         }
div.checkbox-yellow     {.checkbox(@yellow);        }
div.checkbox-orange     {.checkbox(@orange);        }
div.checkbox-purple     {.checkbox(@purple);        }